00/Xor_tb.vvp
00/pack.fs
00/pnrXor.json
00/Xor.json
00/Xor.out
01/DMux.json
01/pack.fs
01/pnrDMux.json
01/Mux.vvp
01/Mux_tb.vvp
01/Mux_tb.vcd
01/Mux.out
01/And16.out
01/And16_tb.vvp
01/And16_tb.vcd
01/DMux4Way_tb.vcd
01/DMux4Way_tb.vvp
01/DMux4Way.out
01/DMux_tb.vcd
01/DMux_tb.vvp
01/DMux.out
